# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
env/
.venv/

# Django
db.sqlite3
*.log
media/
static/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Docker
Dockerfile
.dockerignore

# Git
.git/
.gitignore

# OS
.DS_Store
Thumbs.db
